services:
  selenium-hub:
    image: selenium/hub:latest
    container_name: selenium-hub
    platform: linux/amd64
    ports:
      - "4444:4444"
    environment:
      - SE_SESSION_REQUEST_TIMEOUT=300
      - SE_NODE_SESSION_TIMEOUT=300
    networks:
      - selenium-grid

  chrome-node:
    image: seleniarm/node-chromium:latest
    container_name: chrome-node
    platform: linux/arm64
    shm_size: 2gb
    depends_on:
      - selenium-hub
    ports:
      - "7900:7900"
    environment:
      - SE_EVENT_BUS_HOST=selenium-hub
      - SE_EVENT_BUS_PUBLISH_PORT=4442
      - SE_EVENT_BUS_SUBSCRIBE_PORT=4443
      - SE_NODE_MAX_SESSIONS=4
    networks:
      - selenium-grid

  firefox-node:
    image: seleniarm/node-firefox:latest
    container_name: firefox-node
    platform: linux/arm64
    shm_size: 2gb
    depends_on:
      - selenium-hub
    ports:
      - "7901:7900"
    environment:
      - SE_EVENT_BUS_HOST=selenium-hub
      - SE_EVENT_BUS_PUBLISH_PORT=4442
      - SE_EVENT_BUS_SUBSCRIBE_PORT=4443
      - SE_NODE_MAX_SESSIONS=4
    networks:
      - selenium-grid

  jenkins:
    image: jenkins/jenkins:lts-jdk21
    container_name: jenkins-selenium
    platform: linux/amd64
    privileged: true
    user: root
    ports:
      - "8080:8080"
      - "50000:50000"
    volumes:
      - jenkins_home:/var/jenkins_home
      - /var/run/docker.sock:/var/run/docker.sock
    networks:
      - selenium-grid

volumes:
  jenkins_home:

networks:
  selenium-grid:
    driver: bridge

