<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "https://testng.org/testng-1.0.dtd" >
<suite name="SeleniumFrameworkSuite" parallel="methods" thread-count="6">
    <listeners>
        <listener class-name="com.yehorychev.selenium.listeners.AllureTestListener"/>
    </listeners>
    <parameter name="browser" value="chrome"/>
    <test name="All_UI_AND_API_Tests">
        <classes>
            <class name="com.yehorychev.selenium.tests.greenkart.ui.GreenKartTests"/>
            <class name="com.yehorychev.selenium.tests.amazon.ui.AmazonTests"/>
            <class name="com.yehorychev.selenium.tests.flightbooking.ui.FlightBookingTests"/>
            <class name="com.yehorychev.selenium.tests.practice.ui.AlertTests"/>
            <class name="com.yehorychev.selenium.tests.shopping.ui.ShoppingLoginTest"/>
            <class name="com.yehorychev.selenium.tests.shopping.api.ShoppingApiLoginTest"/>
            <class name="com.yehorychev.selenium.tests.shopping.ui.ShoppingProductsTest"/>
            <class name="com.yehorychev.selenium.tests.shopping.ui.ShoppingDashboardApiUiTest"/>
        </classes>
    </test>
</suite>